body{

}

footer{
    flex-shrink: 0;
    border-top: 1 px dashed black;
    background: #02011e;
    color: #333;
}

img{
    width: 20px;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    margin: 0 30px;
    width: 25%;
}

/*contact*/
.footer-contact h3,
.footer-services h3,
.footer_horaires h3,
.footer-medias h3{
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-contact p{
    padding: 5px;
}

/*services*/
.liste-services,
.liste-horaires,
.liste-medias{
    list-style-type: none;
}
.liste-services li{
    padding: 2px 0;
}
.liste-services a{
    
}

